{% extends "main.html" %} {% block content %}
<head>
  <link
    href="{{url_for('static',filename='css/make.bowl.css')}}"
    rel="stylesheet"
  />

  </head>
    <form
      id="regForm"
      action="{{ url_for('editbowl', bowl_id = bData.id) }}"
      method="post"
    >
      <h1>Editing bowl</h1>
      <div>
        <h4>Make any changes to your bowl!</h4>
        <div style=" margin-left: 25%; padding: 10px">
          <div style="width:60%">
            <img
              class="rounded-circle"
              src="{{ url_for('static', filename='img/anna-pelzer.jpg') }}"
              alt="Photo by Anna Pelzer on Unsplash"
              style="width:100%"
            />

          </div>
        </div>
        <h5>Nutrition information</h5>
        <div id="console-ingredients" class="input-group col-auto mb-2 bg-light">
            <label class="col-form-label" for="calories">Calories:</label>
            <input type="text" readonly class="form-control-plaintext text-info mb-2" id="calories" name="calories" value="{{ bData.calories }}">
            <label class="col-form-label" for="carbs">Carbs: </label>
            <input id="carbs" name="carbs" readonly class="form-control-plaintext text-warning mb-2 " value="{{ bData.carbs }}">
            <label class="col-form-label" for="fat">Fat: </label>
            <input id="fat" name="fat" readonly class="form-control-plaintext  text-danger mb-2" value="{{ bData.fat }}">
            <label class="col-form-label" for="carbs">Protein: </label>
            <input id="protein" name="protein" readonly class="form-control-plaintext  text-success mb-2" value="{{ bData.protein }}">
        </div>
        <p>
          <input
            placeholder="Bowl's name..."
            oninput="this.className = ''"
            name="bowl_name"
            value="{{ bData.name }}"
          />
        </p>
        <p>
          <label for="type">Select a type:</label>
          <select class="form-control" id="type" name="type">
            <option {% if bData.type == "Vegan" %} selected {% endif%}>Vegan</option>
            <option {% if bData.type == "Vegetarian" %} selected {% endif%}>Vegetarian</option>
            <option {% if bData.type == "Contains meat" %} selected {% endif%}>Contains meat</option>
          </select>
        </p>
      </div>

      <div>
        <h4>Base:</h4>
        {% for b in ingr %}
          {% if b.phase=="base" %}
        <label for="{{ b.id }}">
          <input
            {%
            if
            b.id
            in
            bowlsIn
            %}
            checked
            {%
            endif
            %}
            type="checkbox"
            id="{{ b.id }}"
            value="{{ b.id }}"
            name="{{ b.calories }}|{{ b.carbs }}|{{ b.fat }}|{{ b.protein }}"
            data-toggle="toggle"
            class="ingredients"
          />
          {{ b.name }}</label
        >
        {% endif %}
        {% endfor %}
      </div>
      <div>
        <h4>Vegetables and fruit:</h4>
        {% for t in ingr %}
        {% if t.phase=="v&f" %}
        <label for="{{ t.id }}">
          <input
            {%
            if
            t.id
            in
            bowlsIn
            %}
            checked
            {%
            endif
            %}
            type="checkbox"
            id="{{ t.id }}"
            value="{{ t.id }}"
            name="{{ t.calories }}|{{ t.carbs }}|{{ t.fat }}|{{ t.protein }}"
            data-toggle="toggle"
            class="ingredients"
          />
          {{ t.name }}</label
        >
        {% endif %}
        {% endfor %}
      </div>
      <div>
        <h4>Texture:</h4>
        {% for x in ingr %}
          {% if x.phase=="texture" %}
        <label for="{{ x.id }}">
          <input
            {%
            if
            x.id
            in
            bowlsIn
            %}
            checked
            {%
            endif
            %}
            type="checkbox"
            id="{{ x.id }}"
            value="{{ x.id }}"
            name="{{ x.calories }}|{{ x.carbs }}|{{ x.fat }}|{{ x.protein }}"
            data-toggle="toggle"
            class="ingredients"
          />
          {{ x.name }}</label
        >
        {% endif %}
        {% endfor %}
      </div>
      <div>
        <h4>Protein:</h4>
        {% for p in ingr%}
          {% if p.phase=="protein" %}
          <label for="{{ p.id }}">
          <input
            {%
            if
            p.id
            in
            bowlsIn
            %}
            checked
            {%
            endif
            %}
            type="checkbox"
            id="{{ p.id }}"
            value="{{ p.id }}"
            name="{{ p.calories }}|{{ p.carbs }}|{{ p.fat }}|{{ p.protein }}"
            data-toggle="toggle"
            class="ingredients"
          />
          {{ p.name }}</label
        >
        {% endif %}
        {% endfor %}
      </div>
      <div>
        <h4>Saltiness</h4>
        {% for s in ingr %}
          {% if s.phase=="saltiness" %}
        <label for="{{ s.id }}">
          <input
            {%
            if
            s.id
            in
            bowlsIn
            %}
            checked
            {%
            endif
            %}
            type="checkbox"
            id="{{ s.id }}"
            value="{{ s.id }}"
            name="{{ s.calories }}|{{ s.carbs }}|{{ s.fat }}|{{ s.protein }}"
            data-toggle="toggle"
            class="ingredients"
          />
          {{ s.name }}</label
        >
         {% endif %}
        {% endfor %}
      </div>
      <div>
        <h4>Smoot it out</h4>
        {% for h in ingr %}
        {% if h.phase=="smoot" %}
        <label for="{{ h.id }}">
          <input
            {%
            if
            h.id
            in
            bowlsIn
            %}
            checked
            {%
            endif
            %}
            type="checkbox"
            id="{{ h.id }}"
            value="{{ h.id }}"
            name="{{ h.calories }}|{{ h.carbs }}|{{ h.fat }}|{{ h.protein }}"
            data-toggle="toggle"
            class="ingredients"
          />
          {{ h.name }}</label
        >
          {% endif %}
        {% endfor %}
      </div>
      <div>
        <h4>Sharpen it up</h4>
        {% for sh in ingr %}
          {% if sh.phase=="sharpen" %}
          <label for="{{ sh.id }}">
          <input
            {%
            if
            sh.id
            in
            bowlsIn
            %}
            checked
            {%
            endif
            %}
            type="checkbox"
            id="{{ sh.id }}"
            value="{{ sh.id }}"
            name="{{ sh.calories }}|{{ sh.carbs }}|{{ sh.fat }}|{{ sh.protein }}"
            data-toggle="toggle"
            class="ingredients"
          />
          {{ sh.name }}</label
        >
        {% endif %}
        {% endfor %}
      </div>
      <div >
        <h4>Dress it</h4>
        {% for d in ingr %}
          {% if d.phase=="dressing" %}
              <label for="{{ d.id }}">
              <input
                {%
                if
                d.id
                in
                bowlsIn
                %}
                checked
                {%
                endif
                %}
                type="checkbox"
                id="{{ d.id }}"
                value="{{ d.id }}"
                name="{{ d.calories }}|{{ d.carbs }}|{{ d.fat }}|{{ d.protein }}"
                data-toggle="toggle"
                class="ingredients"
              />
              {{ d.name }}</label
            >
          {% endif %}
        {% endfor %}
      </div>
            <div style="overflow:auto;">
        <div style="float:right;">
          <a
                class=" btn btn-danger btn-sm text-uppercase js-scroll-trigger"
                href="{{ url_for('userHome') }}"
                >Discard changes</a
              >
          <button type="submit" class = "btn btn-success btn-sm text-uppercase js-scroll-trigger" id="nextBtn">Save changes</button>

        </div>
      </div>

    </form>

    {% endblock %}

