<!-- Footer -->
<footer class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright" style="color:cornsilk"
          >Copyright &copy; Mostly Plants 101 2019</span
        >
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/Perlai_Jarillo">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/perlajarillo">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/perla-jarillo/">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div style="margin-top:10px">
    <span class="copyright" style="font-size:1ex">
      Photos by Anna Pelzer, Dan Gold, Edgar Castrejon, Ella Olsson, Jez Timms,
      Kai Pilger, Mariana Medvedeva, Milada Vigerova, rawpixel, Jose Aragones,
      Tom Hermans on Unsplash
    </span>
  </div>
</footer>
