<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Bowls 101</title>

    <!-- Bootstrap core CSS -->
    <link
      href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}"
      rel="stylesheet"
    />

    <!-- Custom fonts for this template -->
    <link
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Kaushan+Script"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom styles for this template -->
    <link
      href="{{url_for('static', filename='css/styles.min.css')
}}"
      rel="stylesheet"
    />

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <script
      src="https://apis.google.com/js/client:platform.js?onload=start"
      async
      defer
    ></script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script>
      function start() {
        gapi.load("auth2", function() {
          auth2 = gapi.auth2.init({
            client_id: "{{client_id}}",
            scope: "openid email",
            redirecturi: "postmessage",
            accesstype: "offline",
            cookiepolicy: "single_host_origin",
            callback: "signInCallback",
            approvalprompt: "force"
            // Scopes to request in addition to 'profile' and 'email'
            //scope: 'additional_scope'
          });
        });
      }
    </script>
  </head>

  <body id="page-top">
    <!-- login -->
    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="text-uppercase">Log in</h2>
              <div class="flash">
                {% with messages = get_flashed_messages() %} {% if messages %}

                <ul>
                  {% for message in messages %}
                  <li>
                    <strong> {{ message }} </strong>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %} {% endwith %}
              </div>
              <h3>You can use your Google credentials to log in.</h3>
              <br />
              <div class="processimg">
                <img
                  src="{{ url_for('static', filename='img/edgar-castrejon.jpg') }}"
                  alt="Photo by Edgar Castrejon on Unsplash"
                  style="width:100%"
                />
              </div>
              <div id="signinButtonDiv">
                <button id="signinButton">Sign in with Google</button>
                <script>
                  $("#signinButton").click(function() {
                    // signInCallback defined in step 6.
                    auth2.grantOfflineAccess().then(signInCallback);
                  });
                </script>
              </div>
            </div>
            <div style="margin-top:100px; padding: 16px">
              <a
                class="btn btn-primary btn-sm text-uppercase js-scroll-trigger"
                href="{{ url_for('showIndex') }}"
                >Return</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      function signInCallback(authResult) {
        if (authResult["code"]) {
          // Hide the sign-in button now that the user is authorized
          $("#signinButton").attr("style", "display: none");

          $.ajax({
            type: "POST",
            url: "/gconnect?state={{STATE}}",
            processData: false,
            data: authResult["code"],
            contentType: "application/octet-stream; charset=utf-8",
            success: function(result) {
              // Handle or verify the server response if necessary.
              if (result) {
                $("#result").html(
                  "Login Successful!</br>" + result + "</br>Redirecting..."
                );
                setTimeout(function() {
                  window.location.href = "/bowls101/userhome";
                }, 2000);
              } else if (authResult["error"]) {
                console.log("There was an error: " + authResult["error"]);
              } else {
                $("#result").html(
                  "Failed to make a server-side call. Check your configuration and console."
                );
              }
            }
          });
        }
      }
    </script>
    <!--END GOOGLE PLUS SIGN IN BUTTON -->
</html>
