{% extends "main.html" %} {% block content %}
<head>
  <link
    href="{{url_for('static',filename='css/make.bowl.css')}}"
    rel="stylesheet"
  />
  </head>
    <form id="regForm" action="{{ url_for('makebowl') }}" method="post" >
      <h1>Make a new bowl</h1>
      <h5>Nutrition information</h5>
      <div id="console-ingredients" class="input-group col-auto mb-2 bg-light">
          <label class="col-form-label" for="calories">Calories:</label>
          <input type="text" readonly class="form-control-plaintext text-info mb-2" id="calories" name="calories" value="0.00">
          <label class="col-form-label" for="carbs">Carbs: </label>
          <input id="carbs" name="carbs" readonly class="form-control-plaintext text-warning mb-2 " value="0.00">
          <label class="col-form-label" for="fat">Fat: </label>
          <input id="fat" name="fat" readonly class="form-control-plaintext  text-danger mb-2" value="0.00">
          <label class="col-form-label" for="carbs">Protein: </label>
          <input id="protein" name="protein" readonly class="form-control-plaintext  text-success mb-2" value="0.00">
      </div>
      <!-- One "tab" for each step in the form: -->
      <div class="tab" >
        <h4>Choose your base:</h4>
        <div class="processimg">
          <img
            class="rounded-pill"
            src="static/img/lou-liebau.jpg"
            alt="Photo by Lou Liebau on Unsplash"
            style="width:100%;"
          />
        </div>
        <br>
        {% for b in ingredients %}
          {% if b.phase=="base" %}
            <label for="{{ b.id }}">
              <input
                type="checkbox"
                id="{{ b.id }}"
                name="{{ b.calories }}|{{ b.carbs }}|{{ b.fat }}|{{ b.protein }}"
                data-toggle="toggle"
                class="ingredients"
                value="{{ b.id }}"
              />

          {{ b.name }}</label
        >
        {% endif %}
        {% endfor %}
      </div>
      <div class="tab">
        <h4>Choose vegetables and fruit:</h4>
        <div class="processimg">
          <img
            class="rounded-pill"
            src="static/img/dan-gold.jpg"
            alt="Photo by Dan Gold on Unsplash"
            style="width:100%"
          />
        </div>
        <br>
        {% for t in ingredients %}
          {% if t.phase=="v&f" %}
            <label for="{{ t.id }}">
              <input
                type="checkbox"
                id="{{ t.id }}"
                value="{{ t.id }}"
                name="{{ t.calories }}|{{ t.carbs }}|{{ t.fat }}|{{ t.protein }}"
                data-toggle="toggle"
                class="ingredients"
              />
              {{ t.name }}</label
            >
          {% endif %}
        {% endfor %}
      </div>
      <div class="tab">
        <h4>Choose a texture:</h4>
        <div class="processimg">
          <img
            class="rounded-pill"
            src="static/img/ella-olsson.jpg"
            alt="Photo by Ella Olsson on Unsplash"
            style="width:100%"
          />
        </div>
        <br>
        {% for x in ingredients %}
          {% if x.phase=="texture" %}
            <label for="{{ x.id }}">
              <input
                type="checkbox"
                id="{{ x.id }}"
                value="{{ x.id }}"
                name="{{ x.calories }}|{{ x.carbs }}|{{ x.fat }}|{{ x.protein }}"
                data-toggle="toggle"
                class="ingredients"
              />
              {{ x.name }}</label
            >
          {% endif %}
        {% endfor %}
      </div>
      <div class="tab">
        <h4>Choose a protein:</h4>
        <div class="processimg">
          <img
            class="rounded-pill"
            src="static/img/milada-vigerova.jpg"
            alt="Photo by Milada Vigerova on Unsplash"
            style="width:100%"
          />
        </div>
        <br>
        {% for p in ingredients %}
          {% if p.phase=="protein" %}
            <label for="{{ p.id }}">
              <input
                type="checkbox"
                id="{{ p.id }}"
                value="{{ p.id }}"
                name="{{ p.calories }}|{{ p.carbs }}|{{ p.fat }}|{{ p.protein }}"
                data-toggle="toggle"
                class="ingredients"
              />
              {{ p.name }}</label
            >
          {% endif %}
        {% endfor %}
      </div>
      <div class="tab">
        <h4>Add some saltiness</h4>
        <div class="processimg">
          <img
            class="rounded-pill"
            src="static/img/jez-timms.jpg"
            alt="Photo by Jez Timms on Unsplash"
            style="width:100%"
          />
        </div>
        <br>
        {% for s in ingredients %}
          {% if s.phase=="saltiness" %}
            <label for="{{ s.id }}">
              <input
                type="checkbox"
                id="{{ s.id }}"
                value="{{ s.id }}"
                name="{{ s.calories }}|{{ s.carbs }}|{{ s.fat }}|{{ s.protein }}"
                data-toggle="toggle"
                class="ingredients"
              />
              {{ s.name }}</label
            >
          {% endif %}
        {% endfor %}
      </div>
      <div class="tab">
        <h4>Smoot it out</h4>
        <div class="processimg">
          <img
            class="rounded-pill"
            src="static/img/tom-hermans.jpg"
            alt="Photo by Tom Hermans on Unsplash"
            style="width:100%"
          />
        </div>
        <br>
        {% for h in ingredients %}
          {% if h.phase=="smoot" %}
            <label for="{{ h.id }}">
              <input
                type="checkbox"
                id="{{ h.id }}"
                value="{{ h.id }}"
                name="{{ h.calories }}|{{ h.carbs }}|{{ h.fat }}|{{ h.protein }}"
                data-toggle="toggle"
                class="ingredients"
              />
              {{ h.name }}</label
            >
          {% endif %}
        {% endfor %}
      </div>
      <div class="tab">
        <h4>Sharpen it up</h4>
        <div class="processimg">
          <img
            class="rounded-pill"
            src="static/img/kai-pilger.jpg"
            alt="Photo by Kai Pilger on Unsplash"
            style="width:100%"
          />
        </div>
        <br>
        {% for sh in ingredients %}
          {% if sh.phase=="sharpen" %}
            <label for="{{ sh.id }}">
              <input
                type="checkbox"
                id="{{ sh.id }}"
                value="{{ sh.id }}"
                name="{{ sh.calories }}|{{ sh.carbs }}|{{ sh.fat }}|{{ sh.protein }}"
                data-toggle="toggle"
                class="ingredients"
              />
              {{ sh.name }}</label
            >
          {% endif %}
        {% endfor %}
      </div>
      <div class="tab">
        <h4>Dress it</h4>
        <div class="processimg">
          <img
            class="rounded-pill"
            src="static/img/rawpixel.jpg"
            alt="Photo by rawpixel on Unsplash"
            style="width:100%"
          />
        </div>
        <br>
        {% for d in ingredients %}
          {% if d.phase=="dressing" %}
            <label for="{{ d.id }}">
              <input
                type="checkbox"
                id="{{ d.id }}"
                value="{{ d.id }}"
                name="{{ d.calories }}|{{ d.carbs }}|{{ d.fat }}|{{ d.protein }}"
                data-toggle="toggle"
                class="ingredients"
              />
              {{ d.name }}</label
            >
          {% endif %}
        {% endfor %}
      </div>
      <div class="tab">
        <h4>Put a name to your bowl!</h4>
        <div style=" margin-left: 25%; padding: 10px">
          <div style="width:60%">
            <img
              class="rounded-circle"
              src="static/img/anna-pelzer.jpg"
              alt="Photo by Anna Pelzer on Unsplash"
              style="width:100%"
            />
          </div>
          <br>
        </div>
        <p>
          <input
            placeholder="Bowl's name..."
            oninput="this.className = ''"
            name="bowl_name"
          />
        </p>
        <p>
          <label for="type">Select a type:</label>
          <select class="form-control" id="type" name="type">
            <option>Vegan</option>
            <option>Vegetarian</option>
            <option>Contains meat</option>
          </select>
        </p>
      </div>
      <div style="overflow:auto;">
        <div style="float:right;">
          <button type="button" id="prevBtn" onclick="nextPrev(-1)">
            Previous
          </button>
          <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
      </div>
      <!-- Circles which indicates the steps of the form: -->
      <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>

    </form>

    <script>
      var currentTab = 0; // Current tab is set to be the first tab (0)
      showTab(currentTab); // Display the current tab

      function showTab(n) {
        // This function will display the specified tab of the form...
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        //... and fix the Previous/Next buttons:
        if (n == 0) {
          document.getElementById("prevBtn").style.display = "none";
        } else {
          document.getElementById("prevBtn").style.display = "inline";
        }
        if (n == x.length - 1) {
          document.getElementById("nextBtn").innerHTML = "Submit";
        } else {
          document.getElementById("nextBtn").innerHTML = "Next";
        }
        //... and run a function that will display the correct step indicator:
        fixStepIndicator(n);
      }

      function nextPrev(n) {
        // This function will figure out which tab to display
        var x = document.getElementsByClassName("tab");
        // Exit the function if any field in the current tab is invalid:
        if (n == 1 && !validateForm()) return false;
        // Hide the current tab:
        x[currentTab].style.display = "none";
        // Increase or decrease the current tab by 1:
        currentTab = currentTab + n;
        // if you have reached the end of the form...
        if (currentTab >= x.length) {
          // ... the form gets submitted:
          document.getElementById("regForm").submit();
          return false;
        }
        // Otherwise, display the correct tab:
        showTab(currentTab);
      }

      function validateForm() {
        // This function deals with validation of the form fields
        var x,
          y,
          i,
          valid = true;
        x = document.getElementsByClassName("tab");
        y = x[currentTab].getElementsByTagName("input");
        // A loop that checks every input field in the current tab:
        for (i = 0; i < y.length; i++) {
          // If a field is empty...
          if (y[i].value == "") {
            // add an "invalid" class to the field:
            y[i].className += " invalid";
            // and set the current valid status to false
            valid = false;
          }
        }
        // If the valid status is true, mark the step as finished and valid:
        if (valid) {
          document.getElementsByClassName("step")[currentTab].className +=
            " finish";
        }
        return valid; // return the valid status
      }

      function fixStepIndicator(n) {
        // This function removes the "active" class of all steps...
        var i,
          x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
          x[i].className = x[i].className.replace(" active", "");
        }
        //... and adds the "active" class on the current step:
        x[n].className += " active";
      }
    </script>

    {% endblock %}
  </body>
</html>
